// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.factive{
    line-height: 2.5em;
    float: right;
}

@separation: 20px;

.fconsole-container{
    .fconsole-header{
        display: flex;
        justify-content: space-between;
        padding-left: @separation;
        padding-right: @separation;
        line-height: 27px;
        font-size: 10pt;
        cursor: move;
        align-items: center;

        .fconsole-title{
            display: flex;

            .icon{
                line-height: 30px;
            }

            .fconsole-pretitle{
                margin-right: 7px;
            }
        }

        .fconsole-clear-button{
            width: 45px;
            line-height: 20px;
            font-size: 11px;
            background-color: @button-background-color;
            border: 1px solid @button-border-color;
            border-radius: @component-border-radius;
            text-align: center;
            transition: all 0.12s;

            &:hover{
                color: @text-color-highlight;
                background-color: @button-background-color-hover;
                cursor: pointer;
            }

            &:active{
                box-shadow: 0 0 3px 0px @button-background-color-selected;
                border-color: @button-background-color-selected;
            }
        }
    }

    .fconsole-output{
        background-color: @input-background-color;
        height: 0;
        padding-left: @separation;
        max-height: 200px;
        overflow: hidden;

        @infoHeight: 26px;

        .fconsole-stdout{
            height: calc(~"100%" - @infoHeight);
            padding-top: 5px;
            padding-left: 7px;
            overflow: auto;

            .fconsole-stdout-line{
                white-space: pre;
                line-height: 18px;
            }
        }

        .fconsole-info{
            white-space: pre;
            line-height: @infoHeight;
        }
    }
}

.fconsole-output-t{
    transition: height 0.1s;
}
